@import '../constants/colors';

#menu-parent {
  margin-left: 20px;
  font-size: 2em;
  max-width: 1200px;
}

.menu-btn {
  background: $color-transparent;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  transition: color 500ms;
}

.menu-btn:hover {
  background: linear-gradient(to right, $color-purple, $color-transparent);
  color: $color-orange;
  cursor: nw-resize;
}

.selected-component {
  background: linear-gradient(to right, $color-navy, $color-transparent);
  color: $color-green;
}

.selected-component:hover {
  background: linear-gradient(to right, $color-navy, $color-transparent);
}
