@import '../constants/colors';

body {
  margin: 0;
  font-family: Palatino, Times, 'Times New Roman', serif;
  background: linear-gradient(to right, $color-blue-transparent, $color-pink-transparent), url("https://s3.us-east-2.amazonaws.com/elarsen-personal-site/windows+compressed.jpg");
  background-size: cover, cover;
  font-size: 12px;
  color: $color-navy;
}

.external-link:hover {
  cursor: alias;
}