$color-blue: #6262c9;
$color-blue-transparent: #6262c98c;
$color-red: #c20707;
$color-grey: lightgrey;
$color-black: rgba(0, 0, 0, 0.918);
$color-pink: pink;
$color-pink-transparent: rgba(255, 192, 203, 0.514);
$color-navy: rgb(0, 34, 88);
$color-purple: rgba(50, 0, 107, 0.883);
$color-pink-grey: rgb(202, 179, 183);
$color-blue-grey: #cdcde4;
$color-transparent: rgba(255, 255, 255, 0);
$color-grey-transparent: rgba(32, 32, 32, 0.616);
$color-lightgrey-transparent: rgba(93, 93, 93, 0.616);
$color-green: rgb(117, 255, 135);
$color-orange: rgb(251, 130, 59);
$color-lightgreen: rgb(143, 255, 158);
